/****************
***** FONTS *****
****************/

@font-face {
    font-family: "Asap";
    src: url("fonts/Asap-Regular.ttf");
}

@font-face {
    font-family: "Asap SemiBold";
    src: url("fonts/Asap-SemiBold.ttf");
}

@font-face {
    font-family: "Asap Italic";
    src: url("fonts/Asap-Italic.ttf");
}

/***********************
***** THEME COLORS *****
***********************/

.grey {
    fill: #DDDDDD;
}

.purple {
    fill: #5D2BF0;
}

.orange {
    fill: #FF810F;
}

/************************
***** DIV-LEVEL CSS *****
************************/

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 1200px;
}

svg {
    /* border: 2px solid red; */
}

#intro,
#outro {
    padding: 0px 200px 0px 200px;
}

/*****************************
***** SCROLLAMA SETTINGS *****
*****************************/

/* Adapted from The Pudding:
https://pudding.cool/process/introducing-scrollama/ */

#scroll {
  position: relative;
}

.scroll__graphic {
  position: -webkit-sticky;
  position: sticky;

  top: 0;
  right: 0rem;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  /* background-color: #DDDDDD; */
  /* border: 1px solid #000000; */
}

.scroll__graphic .plotArea.is-active{
    position: fixed;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    opacity: 1;
    z-index: 1;

    /* background-color: #FFFFFF;
    border: 1px solid red; */
}

.scroll__graphic .plotArea {
    position: fixed;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    opacity: 0;
    z-index: -1;

    /* background-color: #FFFFFF;
    border: 1px solid blue; */
}

.scroll__text {
    position: relative;
    padding: 0 1rem;
    max-width: 30rem;
}

.step {
    opacity: 0.2;
    padding: 1rem;

    /* transform: translate(0, -500px); */
    /* border: 1px solid red; */
}

.step.is-active {
    opacity: 1;
    /* border: 2px solid green; */
}

/***************
***** TEXT *****
***************/

/* Titles */
h1,
h2 {
    font-size: 24px;
    font-family: sans-serif;
}

/* Body text */
p {
    font-family: "Asap";
    font-size: 16px;
}

/* Error message on chart load */
#errMsg {
    font-family: "Asap SemiBold";
    font-size: 24px;
}

/* Chart titles */
.chartTitle {
    font-family: "Asap SemiBold";
    font-size: 16px;
    color: #0F0F0F;
}

/* Chart subtitles */
.subTitle1,
.subTitle2 {
    font-family: "Asap";
    font-size: 12px;
    color: #3F3F3F;
}

/* Chart axis titles */
.axis {
    font-family: "Asap";
    font-size: 10px;
    color: #000000;
}

/* Chart axis labels */
.xLabel,
.yLabel {
    font-family: "Asap SemiBold";
    font-size: 12px;
    color: #000000;
}

/* Chart caption text */
.captionText {
    font-family: "Asap Italic";
    font-size: 8px;
}

/* Line chart labels */
.lineLabel {
    font-family: "Asap";
    font-size: 10px;
    /* color: #000000; */
}

/* Dot plot labels */
.pointLabel {
    font-family: "Asap";
    font-size: 10px;
}

/* Bar chart labels */
.barLabels {
    font-family: "Asap";
    font-size: 12px;
    color: #000000;
}

/*************************
***** CHART ELEMENTS *****
*************************/

/* Tick lines - transparent */
.tick line,
.domain {
    color: #FFFFFF;
}

/* Plot area gridlines */
.grid line {
    stroke: #DDDDDD;
    stroke-opacity: 0.5;
}

/* Outer paths */
.grid path {
    stroke-width: 0;
}

/* Map formatting */

.map path {
    fill: #FFFFFF;
    stroke: #DDDDDD;
    stroke-width: 1px;
}
