/****************
***** FONTS *****
****************/

@font-face {
    font-family: "Asap";
    src: url("lib/fonts/Asap-Regular.ttf");
}

@font-face {
    font-family: "Asap SemiBold";
    src: url("lib/fonts/Asap-SemiBold.ttf");
}

@font-face {
    font-family: "Asap Italic";
    src: url("lib/fonts/Asap-Italic.ttf");
}

/*******************
***** MAIN CSS *****
*******************/

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2 {
    font-size: 24px;
    font-family: sans-serif;
}

.plotArea {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid red;
}


/***************
***** TEXT *****
***************/

/* Body text */
p {
    font-family: "Asap";
    font-size: 16px;
}

/* Error message on chart load */
#errMsg {
    font-family: "Asap SemiBold";
    font-size: 24px;
}

/* Chart titles */
.chartTitle {
    font-family: "Asap SemiBold";
    font-size: 16px;
    color: #0F0F0F;
}

/* Chart subtitles */
.subTitle1,
.subTitle2 {
    font-family: "Asap";
    font-size: 12px;
    color: #3F3F3F;
}

/* Chart axis titles */
.axis {
    font-family: "Asap";
    font-size: 10px;
    color: #000000;
}

/* Chart axis labels */
.xLabel,
.yLabel {
    font-family: "Asap SemiBold";
    font-size: 12px;
    color: #000000;
}

/* Bar chart labels */
.barLabels {
    font-family: "Asap";
    font-size: 12px;
    color: #000000;
}




/*****************
***** COLORS *****
*****************/

.grey {
    fill: #DDDDDD;
}

.purple {
    fill: #5D2BF0;
}

.orange {
    fill: #FF810F;
}



.tick line,
.domain {
    color: #FFFFFF;
}

.captionText {
    font-family: "Asap Italic";
    font-size: 8px;
}

.grid line {
    stroke: #DDDDDD;
    stroke-opacity: 0.5;
}

.grid path {
    stroke-width: 0;
}
